
.name {
   font-weight: bolder;
   color:#444444;
   font-size: 12pt;
}
.institution{
   font-weight:lighter;
   %color:#557777;
}

table{
   margin-left:20px;
   margin-right:20px;
}

.w3-text{
   color:#4682b4;
}

body{
   background-color:#dddddd;
}

.w3-main{
   margin-left:130px;
   margin-right: 130px;
   background-color:white;
}

#timer{
   color:#4682b4;
}

ul{
   margin:0px;
}

td,tr{
   height:20px;
}